.section {
    position: relative;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 35px;
    color: teal;
    font-size: 20px;
  }
  .menu {
    padding-left: 20px;
    position: sticky;
    top: 20px;
    left: 0;
  }
  .article {
    margin-left: 100px;
  }